---
import BaseLayout from "../layouts/BaseLayout.astro";

type Post = {
  url: string;
  frontmatter: {
    title: string;
    pubDate: string;
  };
};

const allPosts: Post[] = Object.values(
  import.meta.glob<Post>("./posts/*.md", { eager: true }),
)
  .filter(
    (post) =>
      !!post.frontmatter.pubDate &&
      !isNaN(new Date(post.frontmatter.pubDate).getTime()),
  )
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).getTime() -
      new Date(a.frontmatter.pubDate).getTime(),
  );

// 🔄 Group by year only
type GroupedPosts = {
  [year: string]: Post[];
};

const groupedPosts: GroupedPosts = allPosts.reduce((acc, post) => {
  const year = String(new Date(post.frontmatter.pubDate).getFullYear());
  acc[year] ??= [];
  acc[year].push(post);
  return acc;
}, {} as GroupedPosts);

const pageTitle = "Writing";

function formatDate(date: string | Date): string | undefined {
  if (!date) return;
  const dateObj = new Date(date);

  const formatted = new Intl.DateTimeFormat("en-US", {
    month: "long",
    day: "numeric",
  }).format(dateObj);

  return formatted;
}
---

<BaseLayout pageTitle={pageTitle}>
  <div class="rss-container">
    <h1>Writing</h1><a href="/posts/rss.xml" aria-label="Subscribe to RSS feed"
      ><svg
        class="rss"
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        ><path d="M0 0h24v24H0z" fill="none"></path><circle
          cx="6.18"
          cy="17.82"
          r="2.18"></circle><path
          d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"
        ></path></svg
      ></a
    >
  </div>

  {
    Object.entries(groupedPosts)
      .sort((a, b) => Number(b[0]) - Number(a[0])) // <-- sort years newest to oldest
      .map(([year, posts]) => (
        <section>
          <h2>{year}</h2>
          <ul role="list">
            {posts.map((post) => (
              <li>
                <a style="color:var(--accent-green)" href={post.url}>
                  {post.frontmatter.title}
                </a>
                <br />
                <div class="date-posted">
                  {formatDate(post.frontmatter.pubDate)}
                </div>
              </li>
            ))}
          </ul>
        </section>
      ))
  }
</BaseLayout>
<style>
  ul li a {
    color: var(--accent-purple);
    text-decoration: none;
  }
  .date-posted {
    font-size: smaller;
  }
</style>
